extends layout

include helpers/mixins

block content
	+banner(`${imgPath}/fintech/Fintech-herobanner.jpg`, '金融科技')
	+pageIntro
		p.description KVB昆仑国际环球资本在传统外汇金融服务之外，亦投入大量资源拓展金融科技电子服务平台。早在2011年，我们便率先投产自主研发的外汇交易及结算系统，涵括行业领先的外汇风险计算及自动化支付处理模型。除了提升客户服务质量、增加客户满意度外，更通过普及客户终端实现客户自主监控，大大提升行情互动效率及交易处理速度。
	section.section.fintech__platform--outline.reverse(style=`background-image: url(${imgPath}/fintech/forex-bg.jpg)`)
		div.container
			div.row
				div.col-sm-4.col-sm-offset-1.fintech__img
					img.fintech__platform--img(src=`${imgPath}/fintech/imac.png` alt="")
				div.col-sm-7
					+styledHeading('在线电子外汇交易及管理平台： eFX 智汇之星 2.0 ')
					p.basic-paragraph KVB昆仑国际将传统的外汇交易、结算及支付环节全程电子化，推出了KVBPay环球支付平台及eFX智汇之星在线交易系统，令您无论何时何地都能享受在线聚合支付和交易的便利。
					p.basic-paragraph 商业客户及个人用户通过eFX在线交易系统，可以实现24小时下单、交易、下达结算及支付指令等功能外，亦可以及时关注未结算交易的实时损益，包括查询交易明细等核心功能。能够支持的外汇交易产品种类包括交割外汇即期、外汇远期以及外汇掉期等。直通式页面处理模式，保障企业及个人客户可以透过简单的操作，完成下单及支付的全部流程。
	section.side-img-section.clearfix
		div.side-img-section__img-wrap
			div.side-img-section__img(style=`background-image: url(${imgPath}/fintech/tile-forexstar.jpg)`)
		div.side-img-section__container
			div.side-img-section__container-wrap
				+styledHeading('企业版电子外汇交易及管理平台：Dealing Manager')
				p.basic-paragraph 除此之外，eFX亦包括面向金融同业机构以及财务公司的专业外汇交易及管理平台Dealing Manager。企业版平台可以做到更加多样的交易角色划分、集团和下属公司层级划分、代客交易、集中交易仓位管理和实时估值、风险管理等多元化功能。企业版还提供财务数据导出及对接接口，实现交易前中后台信息的直通式传送。
				p.basic-paragraph 若金融同业机构已经拥有多家对手银行或第三方流动性提供商，企业版平台可通过API方式集成交易数据，实现一站式竞价、下单、交易等功能，避免降低机构多次登录不同平台的复杂操作以及人工失误的可能。
	section.section.fintech__data--outline(style=`background-image: url(${imgPath}/fintech/multiplatform-bg.jpg)`)
		div.container
			div.row
				div.col-sm-4.fintech__img
					img.fintech__platform--img(src=`${imgPath}/fintech/multidevice.png` alt="")
				div.col-sm-7.col-sm-offset-1
					+styledHeading('横跨多平台的金融数据源')
					p.basic-paragraph KVB昆仑国际拥有持牌金融做市商资质，多年来逐步形成与行业内各家顶级国际对手行对接机制，并建立了专业的信息化团队实现多层级过滤机制，确保金融数据的准确性及实时性。 我们分布在各个国家的金融分析团队亦定时提供专业的市场及产品分析报告，调研核心经济金融事件，发布来自KVB全球交易室核心市场走势通告。
	section.side-img-section.reverse.img-long.clearfix
		div.side-img-section__img-wrap
			div.side-img-section__img(style=`background-image: url(${imgPath}/fintech/light.jpg)`)
		div.side-img-section__container
			div.side-img-section__container-wrap
				+styledHeading('大体量管理平台：司库系统')
				p.basic-paragraph KVB昆仑国际还提供更加专业的企业司库管理平台，通过财务自动化簿记、结算、核算、SWIFT支付、风险模型、损益盯市等先进模块功能，为大型机构提供一站式综合管理平台，透过资金/现金流管理及风险管理两个维度，解决您跨时区、跨地区、跨币种、跨公司之间的外汇、利率、权益、损益管理。
				div.fintech__system--down
					p.basic-paragraph KVB昆仑国际提供的企业司库系统，是您在同质化行业中脱颖而出、以专业致胜的一把利器！通过深入理解您的业务流程，我们将为您提供行业内最佳外汇及司库解决方案，这包括：
					+checkList(['更全面的金融产品配置，包括汇率、利率、货币市场，以及证券、债券', '直通式（STP）中后台模式改造','SWIFT接入及支付工厂功能', '外汇及衍生品操作自动财务分录簿记', '企业常用财务系统对接（Oracle/SAP，或其他）', '集中结算及多层级支付审批（多级审批及授权）', '全球银行账户数据导入，更加准确、全面的现金流预测', '定制化风险估值及报告', '无需购买服务器，KVB云服务提供后台配置、维护等各类支持', '中国时区全天候支持，长达24×5的外汇交易支持', '其他定制化金融咨询服务'], 'blue')
	+contactArea
