extends layout

include helpers/mixins

block content
	- var imgPath = isDev ? 'img' : './assets/img'
	+banner(`${imgPath}/foreign-exchange-process/forex-trading-herobanner.jpg`, '企业外汇管理', '外汇管理流程咨询')
	+subNavbar(3)
	+pageIntro
		p.description 在市场日益变化及竞争激烈的今天，进出口企业不但面临采购、制造、销售、物流上的多重压力，在跨境结算、支付、账期以及资金管理上同样面临核心挑战。我们为不同规模的企业客户提供定制化、模块化的外汇管理系统及先进的管理咨询服务。
		p.description 无论您是多元化跨国公司，还是经营双边贸易的进出口企业，KVB昆仑国际都能帮助您在提升企业资金周转效率的同时，降低金融结算成本、提升企业营商利润。目前，KVB昆仑国际环球资本已经在全球服务超过数千家进出口企业，并仍在不断构建与巩固从业优势。
	+cardSection('gray', '外汇管理流程咨询')(class="grid-stack--basic-mobile process-cards")
		+card-3-1(0, 0, '我们的外汇管理模型及优势', 'right')(style=`background-image: url(${imgPath}/grid-wall/05.jpg)`)
			+checkList(['为企业和金融机构提供电子外汇交易与管理平台', '实现功能：外汇交易录单、多对手行交易数据汇总、交易仓位汇总及监控、结算审批及内部账户管理、SWIFT接入、会计分录导出及接口、风险管理模块、演算估值、满足经纪商模式的中台管理系统、全球多种货币的流动性及结算、支付资源', '模块化部署，依据企业需求进行分布式、分功能、多阶段项目实施', '提供系统安全性架构建议及实施帮助'])
		+card-1-2(0, 1, '', '透过这些服务，企业可以')(style=`background-image: url(${imgPath}/grid-wall/01.jpg)`)
			+checkList(['降低汇率波动对成本和收益的影响', '最大概率提前抵御“黑天鹅”事件', '优化资金周转效率', '减少企业内部手工管理人工资源消耗','提升企业前中后台信息扭转效率'])
		+card-2-1(1, 1, '', '我们的外汇管理咨询服务优势', 'right')(style=`background-image: url(${imgPath}/grid-wall/02.jpg)`)
			+checkList(['成熟的系统构建能力', '先进的外汇金融科技', '完善的需求及开发实施团队','专业的行业顾问'])
		+card-2-1(1, 2, '', '我们提供灵活多样的外汇管理工具', 'left')(style=`background-image: url(${imgPath}/grid-wall/03.jpg)`)
			+checkList(['敞口锁价合约/外汇即期合约', '外汇远期合约', '外汇掉期合约', '不交割外汇远期合约', '外汇期权', '杠杆式外汇避险衍生工具'])
	section.section.cooperation-case
		div.container
			+styledHeading('合作实例')
			div.row
				div.col-sm-5.col-md-4.cooperation-case__intro
					div.cooperation-case__card
						h4.cooperation-case__issue 实例一
						div.cooperation-case__company 澳大利亚某海产品进口公司
						div.description.cooperation-case__brief 2006 年 4 月与 KVB 昆仑国际开始合作时，客户公司仅仅成立一年，仍处在起步阶段。海产品货物本身的价值非常高，所以结算金额比较大，汇率的反向波动极有可能为企业造成巨大损失。如何控制汇率风险，成为企业运营者亟待考虑的问题。
					div.cooperation-case__card
						h4.cooperation-case__issue 实例二
						div.cooperation-case__company 澳大利亚某海产品进口公司
						div.description.cooperation-case__brief 2006 年 4 月与 KVB 昆仑国际开始合作时，客户公司仅仅成立一年，仍处在起步阶段。海产品货物本身的价值非常高，所以结算金额比较大，汇率的反向波动极有可能为企业造成巨大损失。如何控制汇率风险，成为企业运营者亟待考虑的问题。
					div.cooperation-case__card
						h4.cooperation-case__issue 实例三
						div.cooperation-case__company 澳大利亚某海产品进口公司
						div.description.cooperation-case__brief 2006 年 4 月与 KVB 昆仑国际开始合作时，客户公司仅仅成立一年，仍处在起步阶段。海产品货物本身的价值非常高，所以结算金额比较大，汇率的反向波动极有可能为企业造成巨大损失。如何控制汇率风险，成为企业运营者亟待考虑的问题。
					div.cooperation-case__card
						h4.cooperation-case__issue 实例四
						div.cooperation-case__company 澳大利亚某海产品进口公司
						div.description.cooperation-case__brief 2006 年 4 月与 KVB 昆仑国际开始合作时，客户公司仅仅成立一年，仍处在起步阶段。海产品货物本身的价值非常高，所以结算金额比较大，汇率的反向波动极有可能为企业造成巨大损失。如何控制汇率风险，成为企业运营者亟待考虑的问题。
				div.col-sm-7.col-md-offset-1.cooperation-case__detail
					div.cooperation-case__section
						+icon('checklist', 'white')
						div.cooperation-case__content
							div.cooperation-case__title 合作方案
							div.description.cooperation-case__description 10 余年来，公司负责人与 KVB 昆仑国际的客户经理几乎每天保持联系，除了掌握第一手市场动态及汇率走势，KVB 客户经理亦会通过对客户业务状况的了解，与客户负责人一起制定适用于不同阶段的交易计划，包括通过定制化的外汇衍生产品规避汇率波动风险。在满足业务需要的同时控制波动带来的不利影响，使公司业务持续稳健地发展。
					div.cooperation-case__section
						+icon('checkboard', 'white')
						div.cooperation-case__content
							div.cooperation-case__title 合作成果
							div.description.cooperation-case__description 凭借客户负责人的智慧、勤奋和丰富的专业知识，其公司逐渐占领了墨尔本海产品批发市场，成为墨尔本第一大海产品批发进口商。KVB 也将继续助力其在澳洲的更大发展。
	+foreignExchangeProduct
	+contactArea
