extends layout

include helpers/mixins

block content
	+banner(`${imgPath}/media-focus/banner-market-insight.jpg`, '媒体聚焦')(class="with-dropdown")
		div.dropdown
			button#yearSelect.btn.btn-block.dropdown-toggle.simple(data-toggle="dropdown" aria-haspopup="true" aria-expanded="true")
				span.contact-form__selected 2017 年
				span.caret: +icon('down', 'white')
			ul.dropdown-menu(aria-labelledby="yearSelect")
				li: a 2016 年
				li: a 2015 年
				li: a 2014 年
	div.media-focus
		+cardSection('gray-dark', '', 'section--no-bottom-spacing')(class="grid-stack--basic-mobile")
			+card-2-1(0, 0, '金羊网', '跨境电商面临价格竞争与汇率风险双重考验','right', 'Mar 28, 2017')(style=`background-image: url(${imgPath}/media-focus/press-tile-1.jpg)`)
				p.description.grid-stack__description
					| 金羊网讯 记者刘勇报道：“电商行业发展迅猛，有的企业每年…
			+card-2-1(0, 1, 'FX168 财经网', '2016 上海理财博览会现场访谈】 — KVB 昆仑国际全球董事', 'left', 'Dec 14, 2016')(style=`background-image: url(${imgPath}/company-news/news-tile-3.jpg)`)
				p.description.grid-stack__description
					| 即使生活给你一地鸡毛，你也要将它扎成漂亮的鸡毛掸子，哪怕…
			+card-1-2(2, 0, '新西兰天维网', '英国“脱欧”后遗症：对新西兰房市和纽币的影响', 'Jul 5, 2017')(style=`background-image: url(${imgPath}/media-focus/press-tile-4.jpg)`)
				p.description.grid-stack__description
					| 即使生活给你一地鸡毛，你也要将它扎成漂亮的鸡毛掸子，哪怕…...
			+card-1-2(0, 2, '汇商网', '这家上市外汇公司成功晋级，坐上市值第一宝座', 'Aug 24, 2016')(style=`background-image: url(${imgPath}/media-focus/press-tile-2.jpg)`)
				p.description.grid-stack__description
					| 8 月份的外汇市场和前几个月相比又发生了不少变化，这种变化⋯...
			+card-2-1(1, 2, '证券之星', 'KVB 昆仑国际媒体见面会', 'left', 'Dec 3, 2016')(style=`background-image: url(${imgPath}/media-focus/press-tile-3.jpg)`)
				p.description.grid-stack__description
					| 每年的理财博览会不仅是金融同行欢聚一堂、切磋交流的日子
			+card-2-1(1, 3, '证券之星', 'KVB 昆仑国际媒体见面会', 'right', 'Dec 3, 2016')(style=`background-image: url(${imgPath}/media-focus/press-tile-3.jpg)`)
				p.description.grid-stack__description
					| 每年的理财博览会不仅是金融同行欢聚一堂、切磋交流的日子
		+pagination(7)
