extends layout

include helpers/mixins

block content
	+banner(`${imgPath}/monthly-news/herobanner-bimonthy.jpg`, '电子双月刊')
	+pageIntro
		p.description KVB昆仑国际环球资本凭借对行业的敏感度与热忱，不断探究外汇市场与商贸运作之间蕴藏的奥秘，并将其倾情分享给陪伴我们共同成长的客户和合作伙伴。所有的投入旨在帮助更多跨国贸易企业利用行业智慧抵御外汇风险、提高企业利润。KVB昆仑国际环球资本愿与客户共同成长、携手进步！
	section.section.section--no-spacing.section--gray.mix-container
		div.container.monthly-news__container.hidden-xs
			ul.monthly-news__navbar.row
				li: button(data-filter="all") 全部
				li: button(data-filter=".year-2018") 2018
				li: button(data-filter=".year-2017") 2017
				li: button(data-filter=".year-2016") 2016
				li: button(data-filter=".year-2015") 2015
				li: button(data-filter=".year-2014") 2014
		div.dropdown.mobile-tabs.mobile-tabs--gray-dark.visible-xs
			button#mobileTabs.btn.btn-block.dropdown-toggle.simple(data-toggle="dropdown" aria-haspopup="true" aria-expanded="true")
				span.contact-form__selected 全部
				span.caret: +icon('down', 'gray-darker')
			ul.dropdown-menu(aria-labelledby="mobileTabs")
				li: button(data-filter="all") 全部
				li: button(data-filter=".year-2018") 2018
				li: button(data-filter=".year-2017") 2017
				li: button(data-filter=".year-2016") 2016
				li: button(data-filter=".year-2015") 2015
				li: button(data-filter=".year-2014") 2014
		div.container
			div.monthly-news__outline
				div.row
					div.col-md-3.col-sm-6.mix.year-2018
						div.monthly-news__book
							a(href='#')
								img.monthly-news__img(src=`${imgPath}/monthly-news/bimonthly-orange.jpg`, alt="alt")
								div.monthly-news__book--info
									div.monthly-news__date 2018 7-8月刊
									div.monthly-news__file PDF 3.16 MB
									div.monthly-news__download
										p.monthly-news__download--des 下载文档
										+icon('download','blue')
					div.col-md-3.col-sm-6.mix.year-2017
						div.monthly-news__book
							a(href='#')
								img.monthly-news__img(src=`${imgPath}/monthly-news/bimonthly-blue.jpg`, alt="alt")
								div.monthly-news__book--info
									div.monthly-news__date 2017 7-8月刊
									div.monthly-news__file PDF 3.16 MB
									div.monthly-news__download
										p.monthly-news__download--des 下载文档
										+icon('download','blue')
					div.col-md-3.col-sm-6.mix.year-2016
						div.monthly-news__book
							a(href='#')
								img.monthly-news__img(src=`${imgPath}/monthly-news/bimonthly-white.jpg`, alt="alt")
								div.monthly-news__book--info
									div.monthly-news__date 2016 7-8月刊
									div.monthly-news__file PDF 3.16 MB
									div.monthly-news__download
										p.monthly-news__download--des 下载文档
										+icon('download','blue')
					div.col-md-3.col-sm-6.mix.year-2015
						div.monthly-news__book
							a(href='#')
								img.monthly-news__img(src=`${imgPath}/monthly-news/bimonthly-lightbluejpg.jpg`, alt="alt")
								div.monthly-news__book--info
									div.monthly-news__date 2015 7-8月刊
									div.monthly-news__file PDF 3.16 MB
									div.monthly-news__download
										p.monthly-news__download--des 下载文档
										+icon('download','blue')
					div.col-md-3.col-sm-6.mix.year-2014
						div.monthly-news__book
							a(href='#')
								img.monthly-news__img(src=`${imgPath}/monthly-news/bimonthly-orange.jpg`, alt="alt")
								div.monthly-news__book--info
									div.monthly-news__date 2014 7-8月刊
									div.monthly-news__file PDF 3.16 MB
									div.monthly-news__download
										p.monthly-news__download--des 下载文档
										+icon('download','blue')
					div.col-md-3.col-sm-6.mix.year-2018
						div.monthly-news__book
							a(href='#')
								img.monthly-news__img(src=`${imgPath}/monthly-news/bimonthly-blue.jpg`, alt="alt")
								div.monthly-news__book--info
									div.monthly-news__date 2018 7-8月刊
									div.monthly-news__file PDF 3.16 MB
									div.monthly-news__download
										p.monthly-news__download--des 下载文档
										+icon('download','blue')
					div.col-md-3.col-sm-6.mix.year-2017
						div.monthly-news__book
							a(href='#')
								img.monthly-news__img(src=`${imgPath}/monthly-news/bimonthly-white.jpg`, alt="alt")
								div.monthly-news__book--info
									div.monthly-news__date 2017 7-8月刊
									div.monthly-news__file PDF 3.16 MB
									div.monthly-news__download
										p.monthly-news__download--des 下载文档
										+icon('download','blue')
					div.col-md-3.col-sm-6.mix.year-2016
						div.monthly-news__book
							a(href='#')
								img.monthly-news__img(src=`${imgPath}/monthly-news/bimonthly-lightbluejpg.jpg`, alt="alt")
								div.monthly-news__book--info
									div.monthly-news__date 2016 7-8月刊
									div.monthly-news__file PDF 3.16 MB
									div.monthly-news__download
										p.monthly-news__download--des 下载文档
										+icon('download','blue')
			div.monthly-news__loading-outline
				button.monthly-news__loading-button 载入更多
