//-EN
mixin exchangeTools--en
	div.exchange-tools
		div.exchange-tools__switcher
			div.pull-left.exchange-tools__currency-block.exchange-tools__from
				div.btn-group.exchange-tools__select
					div.btn-group(role="group")
						button#currencySwitch1.btn.btn-primary.btn-block.btn-lg.dropdown-toggle(data-toggle="dropdown" aria-haspopup="true" aria-expanded="true")
							span.exchange-tools__selected(data-name="AUD" data-symbol="$") AUD
							span.caret: +icon('down', 'white')
						ul.dropdown-menu(aria-labelledby="currencySwitch1")
					div.clearfix
				input.exchange-tools__input(type="text" value="1000")
				div.exchange-tools__currency
					span.exchange-tools__rate 
					span.exchange-tools__chart
						+icon('sparkline-up')
					span
						span.exchange-tools__detail Trend
			div.pull-left.exchange-tools__switch
				+icon('switch', 'orange')
			div.pull-left.exchange-tools__currency-block.exchange-tools__to
				div.btn-group.exchange-tools__select
					div.btn-group(role="group")
						button#currencySwitch2.btn.btn-primary.btn-block.btn-lg.dropdown-toggle(data-toggle="dropdown" aria-haspopup="true" aria-expanded="true")
							span.exchange-tools__selected(data-name="CNY" data-symbol="¥") CNY
							span.caret: +icon('down', 'white')
						ul.dropdown-menu(aria-labelledby="currencySwitch2")
					div.clearfix
				input.exchange-tools__input(type="text" value="67801")
				div.exchange-tools__currency
					span.exchange-tools__rate 
					span.exchange-tools__chart
						+icon('sparkline-down')
					span
						span.exchange-tools__detail Trend
			div.clearfix

mixin contactArea--en
	section.section.contact-section
		div.container
			h2.text-center.contact-section__heading We are dedicated to providing you the best service.
			p.text-center.description.description--narrow.contact-section__description If you are interested in our offerings, please leave your contact information and we will reach out to you.
			+link('contact-en', 'Contact Us')(class="btn btn-middle btn-default--outline contact-section__btn")

mixin foreignExchangeProduct--en
	section.section
		+styledHeading('Main Product', true)
		div.container
			div.row
				div.col-sm-6.col-md-4
					div.foreign-exchange__card
						img(src=`${imgPath}/foreignExchangeProduct/forex-risk.jpg` alt="Corporate Risk Analytics")
						div.foreign-exchange__container
							div.foreign-exchange__name Corporate Risk Analytics
							+readmore('more', 'blue', false, 'risk-identify-en')
				div.col-sm-6.col-md-4
					div.foreign-exchange__card
						img(src=`${imgPath}/foreignExchangeProduct/forex-management.jpg` alt="Corporate FX Advisory")
						div.foreign-exchange__container
							div.foreign-exchange__name Corporate FX Advisory
							+readmore('more', 'blue', false, 'foreign-exchange-process-en')
				div.col-sm-6.col-md-4
					div.foreign-exchange__card
						img(src=`${imgPath}/foreignExchangeProduct/foreign-exchange-derivatives.jpg` alt="Leveraged FX Hedging")
						div.foreign-exchange__container
							div.foreign-exchange__name Leveraged FX Hedging
							+readmore('more', 'blue', false, 'lever-en')

mixin subNavbar--en(state)
	nav.sub-navbar
		div.container
			button.sub-navbar__trigger
				+icon('plus', iconColor)
				+icon('minus-2', iconColor)(class="hide")
			ul.sub-navbar__list
				li.sub-navbar__item.toggle-button(class= (state === 1 ? 'active' : '')): +link('one-stop-en', 'Corporate FX Management Solution')
				li.sub-navbar__item(class= (state === 2 ? 'active' : '')): +link('risk-identify-en', 'Corporate Risk Analytics')
				li.sub-navbar__item(class= (state === 3 ? 'active' : '')): +link('foreign-exchange-process-en', 'Corporate FX Advisory')
				li.sub-navbar__item(class= (state === 4 ? 'active' : '')): +link('lever-en', 'Leveraged FX Hedging')

mixin cardSection--en(bgColor, heading, extraClasses)
	- var classes = `section--${bgColor} ${extraClasses || ''}`
	section.section.card-section(class=classes)
		- if (heading)
			+styledHeading(heading, true)
		div.container
			div.grid-stack.grid-stack-3&attributes(attributes)
				block

mixin card--en
	div.grid-stack-item&attributes(attributes)
		div.grid-stack-item-content
			block

mixin card-3-1--en(x, y, heading, contentPos)
	+card(data-gs-width=3 data-gs-height=1 data-gs-x=x data-gs-y=y)
		div.grid-stack__block.grid-stack__block--rectangle(class=`grid-stack__block--content-${contentPos}`)
			div.grid-stack__background&attributes(attributes)
			div.grid-stack__content
				div.grid-stack__summary
					- if (heading)
						div.grid-stack__heading #{heading}
					block
			div.clearfix

mixin card-1-1--en(x, y, classification, heading, date, link)
	+card(data-gs-width=1 data-gs-height=1 data-gs-x=x data-gs-y=y)
		div.grid-stack__block.grid-stack__block--square&attributes(attributes)
			div.grid-stack__summary
				div.grid-stack__classification #{classification}
				div.grid-stack__heading #{heading}
				div.grid-stack__date #{date}
				block
			+readmore('more', 'white', false, link)

mixin card-2-2--en(classification, heading, link)
	+card(data-gs-width=2 data-gs-height=2 data-gs-x=0 data-gs-y=0)
		div.grid-stack__block.grid-stack__block--square&attributes(attributes)
			div.grid-stack__summary
				div.grid-stack__classification #{classification}
				div.grid-stack__heading #{heading}
				block
			+readmore('more', 'white', false, link)

mixin card-2-1--en(x, y, classification, heading, contentPos, date, link)
	+card(data-gs-width=2 data-gs-height=1 data-gs-x=x data-gs-y=y)
		div.grid-stack__block.grid-stack__block--rectangle(class=`grid-stack__block--content-${contentPos} grid-stack--short`)
			div.grid-stack__background&attributes(attributes)
			div.grid-stack__content
				div.grid-stack__summary
					- if (classification)
						div.grid-stack__classification #{classification}
					div.grid-stack__heading #{heading}
					- if (date)
						div.grid-stack__date #{date}
					block
				- if (classification)
					+readmore('more', null, false, link)
			div.clearfix

mixin card-1-2--en(x, y, classification, heading, contentStyle, date, link)
	+card(data-gs-width=1 data-gs-height=2 data-gs-x=x data-gs-y=y)
		div.grid-stack__block.grid-stack__block--rectangle(class='grid-stack--short')
			div.grid-stack__background&attributes(attributes)
			div.grid-stack__content
				div.grid-stack__summary
					- if (classification)
						div.grid-stack__classification #{classification}
					div.grid-stack__heading #{heading}
					- if (date)
						div.grid-stack__date #{date}
					block
				- if (classification)
					+readmore('more', null, false, link)
			div.clearfix
