//-Globo
mixin link(name, title)
	- var devLink = isDev ? '' : '.html'
	- var currentLink = (name === '#') ? name : `./${name}${devLink}`
	- currentLink = isDev ? currentLink : currentLink.replace(/-(en|jp)\.html/, '.html')
	a(href=currentLink name=title)&attributes(attributes) #{title}

mixin icon(name, color)
	- var colorClass = color ? `-${color}` : ''
	i.icon(class=`icon-${name} ${colorClass}`)&attributes(attributes)
		svg(role="img")
			use(xlink:href=`#icn-${name}`)

mixin banner(imgUrl, ...textList)
	div.banner(style=`background-image: url('${imgUrl}')`)&attributes(attributes)
		div.container
			div.kvb-breadcrumb
				a.kvb-breadcrumb__link(href="/" title="首頁")
					+icon('home', 'white')
					span.kvb-breadcrumb__arrow
						+icon('arrow-right', 'white')
					span #{textList[0]}
			span.banner__heading #{textList.slice(-1)[0]}
			block

mixin styledHeading(text, center)
	- var classes = center ? 'text-center' : ''
	h3.styled-heading(class=classes)
		span #{text}

mixin readmore(text, color, static, link)
	- var classes = static ? 'btn-readmore--static' : ''
	- var iconColor = color || 'blue'
	- var devLink = isDev ? '' : '.html'
	- var currentLink = (!link || link === '#') ? '#' : `./${link}${devLink}`
	- currentLink = isDev ? currentLink : currentLink.replace(/-(en|jp)\.html/, '.html')
	a.btn.btn-link.btn-readmore(class=classes href=currentLink title=text)
		span #{text}
		+icon('goto', iconColor)

mixin readmore__outer(text, color, static, link)
	- var classes = static ? 'btn-readmore--static' : ''
	- var iconColor = color || 'blue'
	- var currentLink = isDev ? link : link.replace(/-(en|jp)\.html/, '.html')
	a.btn.btn-link.btn-readmore(class=classes href=currentLink title=text target="_blank")
		span #{text}
		+icon('goto', iconColor)

mixin pageIntro
	section.section
		div.container
			div.row
				div.col-md-10.col-md-offset-1
					block

mixin pagination(pages)
	nav.kvb-pagination(aria-label="Page navigation")
		ul.pagination
			li.disabled.kvb-pagination__prev: a(href="#" aria-label="Previous")
				span(aria-hidden="true")
					+icon('arrow-left')
			- var p = 0;
			while p < pages
				li(class=(!p ? 'active' : '')): a(href="#") #{p+1}
				- p++
			li.kvb-pagination__next: a(href="#" aria-label="Next")
				span(aria-hidden="true")
					+icon('arrow-right')

mixin checkList(items, color)
	ul.check-icon-list
		each item in items
			li.check-icon-list__item
				+icon('tick', (color || 'green'))
				p.basic-paragraph= item

//-CH
mixin exchangeTools
	div.exchange-tools
		div.exchange-tools__switcher
			div.pull-left.exchange-tools__currency-block.exchange-tools__from
				div.btn-group.exchange-tools__select
					div.btn-group(role="group")
						button#currencySwitch1.btn.btn-primary.btn-block.btn-lg.dropdown-toggle(data-toggle="dropdown" aria-haspopup="true" aria-expanded="true")
							span.exchange-tools__selected(data-name="USD" data-symbol="$") USD
								span &nbsp;美元
							span.caret: +icon('down', 'white')
						ul.dropdown-menu(aria-labelledby="currencySwitch1")
							li: a(data-name="EU" data-symbol="€") EU 欧元
							li: a(data-name="USD" data-symbol="$") USD 美元
							li: a(data-name="CNY" data-symbol="¥") CNY 人民币
					div.clearfix
				input.exchange-tools__input(type="text" value="1000")
				div.exchange-tools__currency
					span.exchange-tools__rate 1 USD = 6.8385 CNY
					span.exchange-tools__chart
						+icon('sparkline-up')
					span
						span.exchange-tools__detail 价格走势图
			div.pull-left.exchange-tools__switch
				+icon('switch', 'orange')
			div.pull-left.exchange-tools__currency-block.exchange-tools__to
				div.btn-group.exchange-tools__select
					div.btn-group(role="group")
						button#currencySwitch2.btn.btn-primary.btn-block.btn-lg.dropdown-toggle(data-toggle="dropdown" aria-haspopup="true" aria-expanded="true")
							span.exchange-tools__selected(data-name="CNY" data-symbol="¥") CNY
								span &nbsp;人民币
							span.caret: +icon('down', 'white')
						ul.dropdown-menu(aria-labelledby="currencySwitch2")
							li: a(data-name="EU" data-symbol="€") EU 欧元
							li: a(data-name="USD" data-symbol="$") USD 美元
							li: a(data-name="CNY" data-symbol="¥") CNY 人民币
					div.clearfix
				input.exchange-tools__input(type="text" value="67801")
				div.exchange-tools__currency
					span.exchange-tools__rate 1 CNY = 0.1462 USD
					span.exchange-tools__chart
						+icon('sparkline-down')
					span
						span.exchange-tools__detail 价格走势图
			div.clearfix

mixin contactArea
	section.section.contact-section
		div.container
			h2.text-center.contact-section__heading 您是否有任何问题？
			p.text-center.description.description--narrow.contact-section__description 我们竭诚为您服务！若对我们的产品或服务感兴趣请留言，我们将会尽快与您联络。
			+link('contact', '联系我们')(class="btn btn-middle btn-default--outline contact-section__btn")

mixin foreignExchangeProduct
	section.section
		+styledHeading('三大企业外汇管理产品', true)
		div.container
			div.row
				div.col-sm-6.col-md-4
					div.foreign-exchange__card
						img(src=`${imgPath}/foreignExchangeProduct/forex-risk.jpg` alt="企业外汇风险识别")
						div.foreign-exchange__container
							div.foreign-exchange__name 企业外汇风险识别
							+readmore('详情', 'blue', false, 'risk-identify')
				div.col-sm-6.col-md-4
					div.foreign-exchange__card
						img(src=`${imgPath}/foreignExchangeProduct/forex-management.jpg` alt="外汇管理流程咨询")
						div.foreign-exchange__container
							div.foreign-exchange__name 外汇管理流程咨询
							+readmore('详情', 'blue', false, 'foreign-exchange-process')
				div.col-sm-6.col-md-4
					div.foreign-exchange__card
						img(src=`${imgPath}/foreignExchangeProduct/foreign-exchange-derivatives.jpg` alt="杠杆式外汇衍生品避险")
						div.foreign-exchange__container
							div.foreign-exchange__name 杠杆式外汇衍生品避险
							+readmore('详情', 'blue', false, 'lever')

mixin subNavbar(state)
	nav.sub-navbar
		div.container
			button.sub-navbar__trigger
				+icon('plus', iconColor)
				+icon('minus-2', iconColor)(class="hide")
			ul.sub-navbar__list
				li.sub-navbar__item.toggle-button(class= (state === 1 ? 'active' : '')): +link('one-stop', '服务简介')
				li.sub-navbar__item(class= (state === 2 ? 'active' : '')): +link('risk-identify', '企业外汇风险识别')
				li.sub-navbar__item(class= (state === 3 ? 'active' : '')): +link('foreign-exchange-process', '外汇管理流程咨询')
				li.sub-navbar__item(class= (state === 4 ? 'active' : '')): +link('lever', '杠杆式外汇衍生品避险')

mixin cardSection(bgColor, heading, extraClasses)
	- var classes = `section--${bgColor} ${extraClasses || ''}`
	section.section.card-section(class=classes)
		- if (heading)
			+styledHeading(heading, true)
		div.container
			div.grid-stack.grid-stack-3&attributes(attributes)
				block

mixin card
	div.grid-stack-item&attributes(attributes)
		div.grid-stack-item-content
			block

mixin card-3-1(x, y, heading, contentPos)
	+card(data-gs-width=3 data-gs-height=1 data-gs-x=x data-gs-y=y)
		div.grid-stack__block.grid-stack__block--rectangle(class=`grid-stack__block--content-${contentPos}`)
			div.grid-stack__background&attributes(attributes)
			div.grid-stack__content
				div.grid-stack__summary
					- if (heading)
						div.grid-stack__heading #{heading}
					block
			div.clearfix

mixin card-1-1(x, y, classification, heading, date, link)
	+card(data-gs-width=1 data-gs-height=1 data-gs-x=x data-gs-y=y)
		div.grid-stack__block.grid-stack__block--square&attributes(attributes)
			div.grid-stack__summary
				div.grid-stack__classification #{classification}
				div.grid-stack__heading #{heading}
				div.grid-stack__date #{date}
				block
			+readmore('详情', 'white', false, link)

mixin card-2-2(classification, heading, link)
	+card(data-gs-width=2 data-gs-height=2 data-gs-x=0 data-gs-y=0)
		div.grid-stack__block.grid-stack__block--square&attributes(attributes)
			div.grid-stack__summary
				div.grid-stack__classification #{classification}
				div.grid-stack__heading #{heading}
				block
			+readmore('详情', 'white', false, link)

mixin card-2-1(x, y, classification, heading, contentPos, date, link)
	+card(data-gs-width=2 data-gs-height=1 data-gs-x=x data-gs-y=y)
		div.grid-stack__block.grid-stack__block--rectangle(class=`grid-stack__block--content-${contentPos}`)
			div.grid-stack__background&attributes(attributes)
			div.grid-stack__content
				div.grid-stack__summary
					- if (classification)
						div.grid-stack__classification #{classification}
					div.grid-stack__heading #{heading}
					- if (date)
						div.grid-stack__date #{date}
					block
				- if (classification)
					+readmore('详情', null, false, link)
			div.clearfix

mixin card-1-2(x, y, classification, heading, contentStyle, date, link)
	+card(data-gs-width=1 data-gs-height=2 data-gs-x=x data-gs-y=y)
		div.grid-stack__block.grid-stack__block--rectangle
			div.grid-stack__background&attributes(attributes)
			div.grid-stack__content
				div.grid-stack__summary
					- if (classification)
						div.grid-stack__classification #{classification}
					div.grid-stack__heading #{heading}
					- if (date)
						div.grid-stack__date #{date}
					block
				- if (classification)
					+readmore('详情', null, false, link)
			div.clearfix
